.account-conatiner{
    background: #d7b5fd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 15px;
    font-family: sans-serif;
    width: 90%;
    border-radius: 25px;
    
    max-width: 1200px;

    border: 2px solid black;
    margin: 0 auto;
}

.searchContainer, .account-conatiner, .actionContainer{
    display: flex;
    align-items: center;
    min-width: fit-content;
}

#search{
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}


body{
    background: #f2effa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 70vh;
    margin: -50px 0 50px;
}

#search{
    width: 100%;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 25px;
    padding: 8px 12px 8px 36px;
    height: 30px;
    box-sizing: border-box;
    
}

.searchIcon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
}

button{
    
    border-radius: 10px;
    cursor: pointer;
}

.actionContainer{
    display: flex;
    gap: 15px;
}

.actionContainer button{
    margin: 0 50px;
    min-width: 30px;
}


.searchContainer{
    position: relative;
    width: 250px;
    padding-left: 5px;
}

.accountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 5px;
}


.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown_logout{
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 5px;
    border-radius: 5px;
    z-index: 1000;
    overflow: hidden;
}

.dropdown_logout p{
    color: #333;
    padding: 12px 16px;
    display: block;
    font-size: 14px;
    transition: 0.2s ease-in;

}

.dropdown_logout p:hover{
    background-color: #f2effa;
    color: #af69f5
}

.dropdown:hover .dropdown_logout{
    display: block;
}