:root{
    --base-color: #85a8ff;
    --base-color2: #f0f4ff;
    --accent-color: #2c59c7;

}

body{
    background-image: url(../assets/underwater_rays.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Quicksand', sans-serif;

}

.account-container{
   max-width: 1000px;
   margin: 30px auto;
   padding: 30px;

   background: rgba(255,255,255,0.85);
   backdrop-filter: blur(8px);

   border-radius: 15px;
   box-shadow: 0 10px 25px rgba(0,0,0,0.1);
   min-height: 80vh;

}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding-bottom: 15px;

    
}

.my_account{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#accountName{
    font-weight: bold;
    font-size: 20px;
}

.top_right{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.filter{
    position: relative;
    display: flex;
    align-items: center;

    padding: 5px;
    
}

.filterDrop{

    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: white;

    border: 1px solid rgba(0,0,0,.1);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    z-index: 1001;
    min-width: 140px;
    flex-direction: column;
    gap: 10px;

    box-sizing: border-box;
}
.filterDrop.show{
    display: flex;
}

.filterDrop label{
    font-size: 14px;
    font-weight: 500;
    color: #444;
    cursor: pointer;
    display: flex;
    align-items: center;

    gap: 10px;
    padding: 5px;
}


.filterDrop input{
    cursor: pointer;
    accent-color: var(--accent-color);
    width: 16px;
    height: 16px;
    margin: 0;
}

.searchContainer{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}

#search{
    width: 100%;
    background-color: #fafafa;
    border: 2px solid black;
    border-radius: 25px;
    padding: 8px 12px 8px 36px;
    height: 30px;
    box-sizing: border-box;

    min-width: 150px;
    max-width: 300px;
    width: 100%;

    box-shadow: 0 6px 6px rgba(0,0,0,.1);
    
}

.searchIcon{
    position: absolute;
    left: 12px;
    width: 16px;
    height: 16px;
    pointer-events: none;
}


.dropdown{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown_Logout{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    min-width: 120px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    box-shadow: 5px;
    border-radius: 5px;
    z-index: 1000;
    margin-top: 1px;
}

.dropdown_Logout p{
    margin: 0;
    color: #333;
    padding: 12px 16px;
    display: block;
    font-size: 14px;
    transition: 0.2s ease-in;

}

.dropdown_Logout p:hover{
    background-color: var(--base-color2);
    color: var(--accent-color);
}

.dropdown:hover .dropdown_Logout{
    display: block;
}



.middle{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    align-items: flex-start;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.top h2{
    color: white;
    white-space: nowrap;

}

.circle{
    background-color: var(--accent-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.circle img{
    width: 20px;
    height: 20px;
}


.add-contacts{
    flex: 1;
    max-width: 300px;
    background: var(--base-color);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
}

#addContactsForm label{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

#addContactsForm input{
    background-color: white;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-sizing: border-box;
}

.my-contacts{
    flex: 2;

    max-height: 60vh;
    overflow-y: auto;
    padding-right: 10px;
}

.my-contacts::-webkit-scrollbar{
    width: 8px;;
}

.my-contacts::-webkit-scrollbar-track{
    background: var(--base-color2);
    border-radius: 10px;
}

.my-contacts::-webkit-scrollbar-thumb{
    background: var(--accent-color);
    border-radius: 10px;
}

.contacts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}


.contact-card{
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.08);
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border-left: 5px solid var(--base-color);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

    animation: fade 0.5s ease-out;
}

.contact-card:hover{
    transform: translateY(-3px);

    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

#saveContact{
    width: 100%;
    padding: 10px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

#addResult{
    padding-top: 25px;
    color: red;
}


.no-contacts{
    grid-column:  1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: #f8f9fa;
    border: 2px dashed var(--base-color);
    border-radius: 15px;
    color: #888;
    font-weight: bold;
}

.contactColumn{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 0;
}


.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;

    white-space: nowrap;
    gap: 10px;
}

.rightSide img{
    width: 40px;
    height: 40px;
}

.cardBtn{
    display: flex;
    gap: 10px;
}


.deleteBtn, .editBtn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.trash, .editIcon{
    width: 24px;
    height: 24px;
    transition: transform 0.2s;

}

.trash:hover{
    transform: scale(1.3);

    /* I think the best easier way to color the icon */
    filter: invert(30%) sepia(100%) saturate(5000%) hue-rotate(330deg) brightness(90%) contrast(100%);
}

.editIcon:hover{
    transform: scale(1.3);
}


/*--------this is for the edit contacts modal---------*/
.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(4px);
}

.editContent{
    background-color: #fff;
    margin: 10% auto;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

    animation: slideFade 0.4s ease-out;
    
}

.modalTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.exitBtn{
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    filter: invert(30%) sepia(100%) saturate(5000%) hue-rotate(330deg) brightness(90%) contrast(100%);
}

.editContent input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.actionsModal{
    display: flex;
    align-items: center;
    justify-content: space-around;


}


.cancelBtn, .UpdateContact{
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    box-sizing: border-box;
}


.UpdateContact{
    background-color: var(--accent-color);
}


.cancelBtn{
    background-color: rgb(213, 42, 42);
}



/*----------this is for the delete contacts modal--------------*/

.modal2{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(4px);
    
}

.deleteContent{
    background-color: #fff;
    margin: 10% auto;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

    animation: pop 0.3s ease-out;
    
}

.deleteModalTop{
    text-align: center;
    margin-bottom: 20px;
}

/*-----------trying animations here (if it works then add but if not...just remove it)-------------*/
/*------------------might apply animatons for modal-------------*/

@keyframes slideFade{
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pop{
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    70%{
        transform: scale(1.02);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}