.account-conatiner{
    background: #d7b5fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
    width: 70%;
    
    border: 2px solid black;
}

body{
    background: #f2effa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 70vh;
    margin: -50px 0 50px;
}

#search{
    width: 100%;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 25px;
    padding: 8px 12px 8px 36px;
    height: 30px;
    box-sizing: border-box;
    
}

.searchIcon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
}

button{
    
    border-radius: 10px;
    cursor: pointer;
}

.actionContainer{
    
}


.searchContainer{
    position: relative;
    width: 250px;
    padding-left: 5px;
}

.accountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 7px;
}

.contacts{
    border: 2px solid black;
}