
body{
    background: #f2effa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 90vh;
    margin: -20px 0 50px;
}

/*Headings*/
h1{
    font-weight: bold;
    margin: 0;
}

h2{
    text-align: center;
}

/*paragraph*/
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;

}

/*buttons*/

button{
    border-radius: 20px;
    border:  1px solid #af69f5;
    background-color: #af69f5;
    color:#ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

/*button clicks*/
button:active{
    transform: scale(0.95);

}


button:focus{
    outline: none;

}

/*transparent button*/

button.fade{
    background-color: transparent;
    border-color: #ffffff;

}

/*forms*/
form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}


input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

/*Main container*/
.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    
}

/*signin and signup form wrapping*/
.formContainer{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s;

}

/*sign in form*/
.signin{
    left: 0;
    width: 50%;
    z-index: 2;
}

/*move sign in right when rightpanel active*/
.container.rightPanel .signin{
    transform: translate(100%);
}

/*signup*/
.signup{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

/*sign up when right active*/
.container.rightPanel .signup{
    transform: translate(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

/*animation for fading sign up form in*/
@keyframes show{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }

    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

/*overlay container*/
.layerContainer{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

/*slide left when right panel active*/
.container.rightPanel .layerContainer{
    transform: translateX(-100%);
}


/*background layer*/
.layer{
    background: -webkit-linear-gradient(to right, #af69f5, #af69f5);
    background: linear-gradient(to right, #af69f5, #af69f5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}


.container.rightPanel .layer{
    transform: translateX(50%);

}

/*layers*/
.layerPan{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}


.layerLeft{
    transform: translateX(-20%);

}

.container.rightPanel .layerLeft{
    transform: translateX(0);

}

.layerRight{
    right: 0;
    transform: translateX(0);
}

.container.rightPanel .layerRight{
    transform: translateX(20%);

}

